html {
  scroll-behavior: smooth;
}
/* navigation styles  */
nav {
  width: 100%;
  padding: 2%;
  display: flex;
  background-color: #0c8195;
}
.navbarLogo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.navbarLogo h3 {
  font-size: 32px;
  margin-left: 5px;
  font-family: "Manrope";
  text-transform: capitalize;
  color: #fff;
  transition: 0.5s;
}
.navbarLogo h3:hover {
  color: #f1c111;
}
.menu {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu div a {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Lora";
  color: #fff;
  text-transform: capitalize;
  transition: 0.5s;
}
.menu div a:hover {
  color: #f1c111;
}
.contactButton {
  margin-left: 50px;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Lora";
  color: #f1c111;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #f1c111;
  transition: 0.5s;
  cursor: pointer;
}
.contactButton:hover {
  background-color: #f1c111;
  color: #fff;
}
/* navigation styles  */

/* banner section styles */
.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(170deg, #057a8d 64%, white 30%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* @keyframes left {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 400px;
  }
}
@keyframes right {
  0% {
    margin-right: 0px;
  }
  100% {
    margin-right: 400px;
  }
} */

.bannerTxtWrapper {
  width: 50%;
  padding: 50px;
  text-align: center;
  animation-fill-mode: forwards;
  animation-name: left;
  animation-duration: 5s;
}
.bannerTxtWrapper h2 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  font-family: "Karla";
}
.bannerimg {
  width: 50%;
  animation-name: right;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.bannerimg img {
  max-width: 100%;
  /* animation-name: banner2;
  animation-duration: 5s; */
}
.bannerButton {
  padding: 15px 30px;
  margin: 5% 0%;
  font-size: 20px;
  font-family: "Manrope";
  color: #057a8d;
  background-color: #fff;
  border-radius: 100px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.bannerButton:hover {
  color: #fff;
  background-color: black;
}
.bannerPhone a {
  color: #fff;
  font-family: "Manrope";
  padding-left: 10px;
}
.bannerPhone {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* banner section styles */

/* studio section  */
#studio {
  width: 100%;
  margin-top: 5%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.studioTxtWrapper {
  width: 30%;
  margin: 0 auto;
}
.studioTxtWrapper h3 {
  font-size: 32px;
  line-height: 1.5;
  font-family: "Lora";
  color: black;
}
.studioTxtWrapper p {
  margin: 8% 0%;
  font-family: "Karla";
  line-height: 1.5;
  font-size: 20px;
  color: #666262;
}
.studioTxtWrapper p a {
  cursor: pointer;
  color: #404040;
}
.studioImg {
  width: 30%;
  margin: 0 auto;
}
.studioImg img {
  width: 100%;
}
.yellowTxt,
.studioTxtWrapper p a:hover {
  color: #f1c111;
}
/* studio section  */

/* our work section  */
#ourWorks {
  padding-bottom: 8%;
  background-color: #f0f8ff;
}
#ourWorks h2 {
  text-align: center;
  padding: 10% 0% 5%;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Lora";
  color: black;
}
.cardBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.cardsWrapper {
  width: 40%;
}
.card {
  background-image: url(../images/ourWorksImg1.jpg);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 8%;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.card button {
  width: 90%;
  background-color: #fff;
  color: #057a8d;
  font-family: "Karla";
  border: none;
  padding: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  bottom: -30px;
  transition: 0.5s;
}
.card:hover button {
  opacity: 1;
  bottom: 0;
  visibility: visible;
  cursor: pointer;
}
.cardBox .cardsWrapper:nth-child(2) .card {
  background-image: url(../images/ourWorksImg2.jpg);
}
/* our work section  */
/* clients section  */
.clientsSection {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientsImg {
  width: 30%;
}
.clientsImg img {
  width: 100%;
}
.clientTxtWrappers {
  width: 25%;
}
.clientTxtWrappers h6,
footer h6 {
  font-size: 18px;
  text-transform: uppercase;
  color: #909090;
  font-family: "Manrope";
}
.clientTxtWrappers p {
  margin: 10% 0% 5%;
  font-size: 25px;
  font-family: "Karla";
  line-height: 1.7;
  color: #22262a;
  font-weight: bold;
}

.clientsName {
  font-size: 20px;
  font-family: "Karla";
  color: #f1c111;
  text-transform: capitalize;
}
.divider,
.position {
  font-size: 20px;
  text-transform: capitalize;
  color: #adabab;
}
/* clients section  */
/* footer section  */
footer {
  width: 100%;
  padding: 10%;
  background-color: #171819;
}
.footerBox {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.creative {
  width: 40%;
}
.creative h5 {
  font-size: 45px;
  color: #fff;
  font-family: "Karla";
}
.footerTxtWrapper {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.footerContact {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContact a,
.footerStudio a,
.copyright {
  font-size: 20px;
  color: #666262;
  font-family: "Karla";
  display: block;
}
.footerStudio {
  width: 50%;
}
.phoneNumber,
.email {
  display: flex;
  align-items: center;
}
.address {
  display: flex;
  align-items: flex-start;
}
.phoneNumber,
.address {
  margin: 30px 0 10px;
}

.copyrightSocials {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}
.copyright,
.socialIcons,
.contactStories {
  width: 30%;
}
.socialIcons img {
  margin-left: 2%;
}
.contactStories a {
  font-size: 18px;
  color: #666262;
  padding-left: 5%;
  font-family: "Manrope";
}
/* footer section  */

@media screen and (max-width: 1223px) {
  .clientTxtWrappers p {
    font-size: 20px;
  }
  .creative h5 {
    font-size: 35px;
  }
}
@media screen and (max-width: 1042px) {
  .bannerTxtWrapper h2 {
    font-size: 35px;
  }
  .bannerButton {
    font-size: 15px;
    padding: 10px 20px;
  }
  .studioTxtWrapper h3 {
    font-size: 25px;
  }
  .studioTxtWrapper p {
    line-height: normal;
  }
  #ourWorks h2 {
    font-size: 28px;
  }
  .clientsSection {
    margin-bottom: 20px;
  }
  .clientTxtWrappers p {
    font-size: 15px;
  }
  .cardBox {
    flex-direction: column;
  }
  .cardsWrapper {
    width: 80%;
    margin: 0px auto;
  }
}
@media screen and (max-width: 900px) {
  .footerBox {
    display: flex;
    flex-direction: column;
  }
  .creative h5 {
    margin-bottom: 50px;
  }
  .studioTxtWrapper {
    width: 80%;
    text-align: center;
  }
  .copyrightSocials {
    flex-direction: column;
    margin: 20px;
  }
}
