html {
  scroll-behavior: smooth;
}
/* navigation styles  */
nav {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c8195;
}
.navbarLogo {
  width: 30%;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.navbarLogo h3 {
  font-size: 32px;
  margin-left: 5px;
  font-family: "Manrope";
  text-transform: capitalize;
  color: #fff;
  transition: 0.5s;
}
.navbarLogo h3:hover {
  color: #f1c111;
}
.menu {
  width: 50%;
  display: flex;
  align-items: center;
}
.menu a {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Lora";
  color: #fff;
  text-transform: capitalize;
  transition: 0.5s;
}
.menu a:hover {
  color: #f1c111;
}
.menu div {
  padding-left: 10%;
}
.contactButton {
  margin-left: 50px;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Lora";
  color: #f1c111;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #f1c111;
  transition: 0.5s;
  cursor: pointer;
}
.contactButton:hover {
  background-color: #f1c111;
  color: #fff;
}
/* navigation styles  */

/* banner section styles */
.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(170deg, #057a8d 64%, white 30%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bannerTxtWrapper {
  width: 25%;
  /* animation-name: banner;
  animation-duration: 4s; */
}
.bannerTxtWrapper h2 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  font-family: "Karla";
}
.bannerimg {
  width: 30%;
}
.bannerimg img {
  width: 100%;
  /* animation-name: banner2;
  animation-duration: 5s; */
}
.bannerButton {
  padding: 15px 30px;
  margin: 5% 0%;
  font-size: 20px;
  font-family: "Manrope";
  color: #057a8d;
  background-color: #fff;
  border-radius: 100px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.bannerButton:hover {
  color: #fff;
  background-color: black;
}
.bannerPhone a {
  color: #fff;
  font-family: "Manrope";
  padding-left: 10px;
}
.bannerPhone {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* banner section styles */

/* studio section  */
#studio {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.studioTxtWrapper {
  width: 30%;
}
.studioTxtWrapper h3 {
  font-size: 32px;
  line-height: 1.5;
  font-family: "Lora";
  color: black;
}
.studioTxtWrapper p {
  margin: 8% 0%;
  font-family: "Karla";
  line-height: 1.5;
  font-size: 20px;
  color: #666262;
}
.studioTxtWrapper p a {
  cursor: pointer;
  color: #404040;
}
.studioImg {
  width: 30%;
}
.studioImg img {
  width: 100%;
}
.yellowTxt,
.studioTxtWrapper p a:hover {
  color: #f1c111;
}
/* studio section  */

/* our work section  */
#ourWorks {
  padding-bottom: 8%;
  background-color: #f0f8ff;
}
#ourWorks h2 {
  text-align: center;
  padding: 10% 0% 5%;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Lora";
  color: black;
}
.cardBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.cardsWrapper {
  width: 40%;
}
.card {
  background-image: url(../images/ourWorksImg1.jpg);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 8%;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.card button {
  width: 90%;
  background-color: #fff;
  color: #057a8d;
  font-family: "Karla";
  border: none;
  padding: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  bottom: -30px;
  transition: 0.5s;
}
.card:hover button {
  opacity: 1;
  bottom: 0;
  visibility: visible;
  cursor: pointer;
}
.cardBox .cardsWrapper:nth-child(2) .card {
  background-image: url(../images/ourWorksImg2.jpg);
}
/* our work section  */
/* clients section  */
.clientsSection {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientsImg {
  width: 30%;
}
.clientsImg img {
  width: 100%;
}
.clientTxtWrappers {
  width: 25%;
}
.clientTxtWrappers h6 {
  font-size: 18px;
  text-transform: uppercase;
  color: #909090;
  font-family: "Manrope";
}
.clientTxtWrappers p {
  margin: 10% 0% 5%;
  font-size: 25px;
  font-family: "Karla";
  line-height: 1.7;
  color: #22262a;
  font-weight: bold;
}

.clientsName {
  font-size: 20px;
  font-family: "Karla";
  color: #f1c111;
  text-transform: capitalize;
}
.divider,
.position {
  font-size: 20px;
  text-transform: capitalize;
  color: #adabab;
}
/* clients section  */
